<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>DataProgrammingDashboard</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.01f8567bf63d2d1c.js" type="module"></script><script src="polyfills.786ad8c3c582618c.js" type="module"></script><script src="main.b3ab001b821fe8f6.js" type="module"></script>

</body></html>